<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="cubemars_motor">

  <!-- parameters for easy re-use -->

  <xacro:property name="joint_name"    value="wheel_joint"/>

  <link name="base_link">
  <visual>
    <geometry><box size="0.5 0.5 0.05"/></geometry>
  </visual>
  </link>

  <!-- a tiny dummy link so ros2_control has something to attach to -->
  <link name="wheel_1_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0"/>
      <inertia ixx="0.1" ixy="0.0" ixz="0.0"
               iyy="0.1" iyz="0.0" izz="0.1"/>
    </inertial>
    <visual>
      <geometry><sphere radius="0.05"/></geometry>
    </visual>
    <collision>
      <geometry><sphere radius="0.05"/></geometry>
    </collision>
  </link>

  <joint name="$wheel_1_joint" type="continuous">
    <parent link="base_link"/>
    <child  link="wheel_1_link"/>
    <origin xyz="0.5 0.5 0" rpy="0 0 0"/>
    <axis   xyz="0 0 1"/>
  </joint>

  <!-- <link name="wheel_2_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0"/>
      <inertia ixx="0.1" ixy="0.0" ixz="0.0"
               iyy="0.1" iyz="0.0" izz="0.1"/>
    </inertial>
    <visual>
      <geometry><sphere radius="0.05"/></geometry>
    </visual>
    <collision>
      <geometry><sphere radius="0.05"/></geometry>
    </collision>
  </link>

  <joint name="$wheel_2_joint" type="continuous">
    <parent link="base_link"/>
    <child  link="wheel_2_link"/>
    <origin xyz="0.5 -0.5 0" rpy="0 0 0"/>
    <axis   xyz="0 0 1"/>
  </joint>

  <link name="wheel_3_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0"/>
      <inertia ixx="0.1" ixy="0.0" ixz="0.0"
               iyy="0.1" iyz="0.0" izz="0.1"/>
    </inertial>
    <visual>
      <geometry><sphere radius="0.05"/></geometry>
    </visual>
    <collision>
      <geometry><sphere radius="0.05"/></geometry>
    </collision>
  </link>

  <joint name="$wheel_3_joint" type="continuous">
    <parent link="base_link"/>
    <child  link="wheel_3_link"/>
    <origin xyz="-0.5 0.5 0" rpy="0 0 0"/>
    <axis   xyz="0 0 1"/>
  </joint>

  <link name="wheel_4_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0"/>
      <inertia ixx="0.1" ixy="0.0" ixz="0.0"
               iyy="0.1" iyz="0.0" izz="0.1"/>
    </inertial>
    <visual>
      <geometry><sphere radius="0.05"/></geometry>
    </visual>
    <collision>
      <geometry><sphere radius="0.05"/></geometry>
    </collision>
  </link>

  <joint name="$wheel_4_joint" type="continuous">
    <parent link="base_link"/>
    <child  link="wheel_4_link"/>
    <origin xyz="-0.5 -0.5 0" rpy="0 0 0"/>
    <axis   xyz="0 0 1"/>
  </joint> -->



  <ros2_control name="CubemarsSystem" type="system">
    <hardware>
      <plugin>cubemars_interface/CubeMarsSystemHardware</plugin>
      <param name="can_interface">slcan0</param>
    </hardware>
    <joint name="wheel_1_joint">
      <param name="can_id">31</param>
      <param name="pole_pairs">21</param>
      <param name="gear_ratio">64</param>
      <param name="kt">0.136</param>
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <command_interface name="acceleration"/>
      <command_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <!-- <joint name="wheel_2_joint">
      <param name="can_id">12</param>
      <param name="pole_pairs">21</param>
      <param name="gear_ratio">9</param>
      <param name="kt">0.1</param>
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <command_interface name="acceleration"/>
      <command_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="wheel_3_joint">
      <param name="can_id">13</param>
      <param name="pole_pairs">21</param>
      <param name="gear_ratio">9</param>
      <param name="kt">0.1</param>
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <command_interface name="acceleration"/>
      <command_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="wheel_4_joint">
      <param name="can_id">14</param>
      <param name="pole_pairs">21</param>
      <param name="gear_ratio">9</param>
      <param name="kt">0.1</param>
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <command_interface name="acceleration"/>
      <command_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint> -->
  </ros2_control>

</robot>