controller_manager:
  ros__parameters:
    update_rate: 100
    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    # effort_controller:
    #   type: effort_controllers/JointGroupEffortController

    position_controller:
      type: position_controllers/JointGroupPositionController

    joints:
      - wheel_1_joint
      # - wheel_2_joint
      # - wheel_3_joint
      # - wheel_4_joint
    command_interfaces:
      - position
    state_interfaces:
      - position
      - velocity
      - effort

# effort_controller:
#   ros__parameters:
#     joints:
#       - wheel_joint

position_controller:
  ros__parameters:
    joints:
      - wheel_1_joint
      # - wheel_2_joint
      # - wheel_3_joint
      # - wheel_4_joint